<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="FrameworkPractise">

	<test name="practise1">

		<classes>


		<!-- 	<class name="TestCases.TC_Login"></class> -->
			<class name ="TestCases.TC_TourLogin"></class>


		</classes>


	</test>



</suite>